*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
img{
  display: block;
}
body {
  font-family: LXGW;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
@font-face {
  font-family: "LXGW";
  src: url("/src/font/LXGWWenKai-Regular.ttf");
}
code {

}
